<div class="container">
  <h1 class="text-center">Список аптек</h1>
  <div class="container row justify-content-center" [hidden]="!authenticated()">
    <button class="btn btn-outline-secondary" (click)="router.navigate(['/phar/add'])">Добавить</button>
    <table class="table table-bordered table-hover top-buffer">
      <thead class="thead-dark">
      <tr>
        <th>ID аптеки</th>
        <th>Номер аптеки</th>
        <th>Компания</th>
        <th>Адрес</th>
        <th>Номер телефона</th>
        <th>Начало работы</th>
        <th>Окончание работы</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let pharmacyt of pharmacyts" (click)="router.navigate(['/phar/'+pharmacyt.idPhar])">
        <td>{{pharmacyt.idPhar}}</td>
        <td>{{pharmacyt.pharNumb}}</td>
        <td>{{pharmacyt.compName}}</td>
        <td>{{pharmacyt.address}}</td>
        <td>{{pharmacyt.phoneNum}}</td>
        <td>{{pharmacyt.workStart}}</td>
        <td>{{pharmacyt.workEnd}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div [hidden]="authenticated()">
    <h6 class="text-center">Войдите, чтобы увидеть базу данных</h6>
  </div>
</div>



