<div class="container">
  <h1 class="text-center">Список аптек</h1>
  <div class="container row justify-content-center">
    <h5 class="text-danger" [hidden]="!error">Ошибка добавления данных, проверьте правильность введенных данных:</h5>
    <table class="table table-bordered">
      <thead class="thead-dark">
      <tr>
        <th>Номер аптеки</th>
        <th>Компания</th>
        <th>Адрес</th>
        <th>Номер телефона</th>
        <th>Начало работы</th>
        <th>Окончание работы</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><input [(ngModel)]="pharmacyts.pharNumb" placeholder="Номер аптеки"></td>
        <td><input [(ngModel)]="pharmacyts.compName" placeholder="Компания"></td>
        <td><input [(ngModel)]="pharmacyts.address" placeholder="Адрес"></td>
        <td><input [(ngModel)]="pharmacyts.phoneNum" placeholder="Номер телефона"></td>
        <td>
          <ngb-timepicker size="small" [(ngModel)]="timeStart"></ngb-timepicker>
        </td>
        <td>
          <ngb-timepicker size="small" [(ngModel)]="timeEnd"></ngb-timepicker>
        </td>
      </tr>
      </tbody>
    </table>

    <button class="btn btn-outline-secondary" (click)="add()">Добавить</button>
    <button class="btn btn-outline-secondary btn-buffer" (click)="this.router.navigate(['phar'])">Назад</button>
  </div>
</div>
