<div class="container">
  <h1 class="text-center">Наличие лекарств</h1>
  <div class="container row justify-content-center">
    <table class="table table-bordered">
      <thead class="thead-dark no-wrap">
      <tr>
        <th>ID записи</th>
        <th>ID лекарства</th>
        <th>ID аптеки</th>
        <th>Цена</th>
        <th>Количество</th>
        <th>Дата поступления</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="availabilities">
        <td>{{availabilities.id_rec}}</td>
        <td><input [(ngModel)]="availabilities.id_med_fk" placeholder="ID лекарства"></td>
        <td><input [(ngModel)]="availabilities.id_phar_fk" placeholder="ID аптеки"></td>
        <td><input [(ngModel)]="availabilities.price" placeholder="Цена"></td>
        <td><input [(ngModel)]="availabilities.amount" placeholder="Количество"></td>
        <td><input [(ngModel)]="availabilities.receipt_date" placeholder="Дата поступления"></td>
      </tr>
      </tbody>
    </table>
    <button class="btn btn-outline-secondary" (click)="save()">Сохранить</button>
    <button class="btn btn-outline-secondary btn-buffer" (click)="this.router.navigate(['/avail']);">Назад</button>
    <button class="btn btn-outline-secondary" (click)="delete()">Удалить</button>
  </div>
</div>
